[Desktop Entry]
Type=Application
Version=1.0
Name=Explorer
Comment=Menedżer plików w stylu Windows na silniku Thunar
Exec=/mnt/swiezak/explorer-thunar/install/bin/explorer %F
Icon=system-file-manager
Terminal=false
Categories=System;Utility;Core;GTK;FileManager;
StartupNotify=true
StartupWMClass=eu.mizak.Explorer
MimeType=inode/directory;
